<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MBProgress.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D250B35B1E77CFCD00D304E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D250B3741E77CFCD00D304E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D250B37F1E77CFCD00D304E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
